<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ilsecondodasinistra.workitout"
    android:installLocation="auto" >
<!--
    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="17" />
-->
    <application
        android:allowBackup="true"
        android:icon="@drawable/workitout_icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sherlock.Light"
        android:name="MyApplication">
        <activity
            android:name="com.ilsecondodasinistra.workitout.WorkItOutMain"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.ilsecondodasinistra.workitout.NotificationService" >
        </service>
        <service android:name="com.ilsecondodasinistra.workitout.PauseNotificationService" >
        </service>
<!--
        <activity
            android:name=".unused.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
-->
        <receiver android:name="com.ilsecondodasinistra.workitout.MyWidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_workitout" />
        </receiver>
<!--
        <activity
            android:name=".drawer.DrawerFragment"
            android:label="@string/title_activity_drawer_fragment"
            android:parentActivityName="com.actionbarsherlock.app.SherlockFragmentActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.actionbarsherlock.app.SherlockFragmentActivity" />
        </activity>
-->
        <activity
            android:name="com.ilsecondodasinistra.workitout.AboutActivity"
            android:label="@string/title_activity_about" >
        </activity>

    </application>

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>